<!DOCTYPE html>
<html>
    <head>
        <title>Busters!!</title>
    </head>
    <body>
        <%date = Time.now%>
        <h1><%= "The date is #{date.strftime("%A, %B %d, %Y")}" %></h1>
    </body>
</html>